<h1>Edit</h1>

<form [formGroup]="FormData" (ngSubmit)="onClickSubmit(FormData.value)">
    <div class="form-horizontal">
        <h4>Employees</h4>

        <div class="form-group">
            <label class="control-label col-md-2">Employee Name</label>
            <div class="col-md-10">
                <input type="text" formControlName="name" class="control-label col-md-2">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Designation</label>
            <div class="col-md-10">

                <input type="text" formControlName="designation" class="control-label col-md-2">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Manager ID</label>
            <div class="col-md-10">
                <input type="text" formControlName="mgrid" class="control-label col-md-2">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Contact No</label>
            <div class="col-md-10">
                <input type="text" formControlName="contactno" class="control-label col-md-2">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Email ID</label>
            <div class="col-md-10">
                <input type="text" formControlName="emailid" class="control-label col-md-2">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Skillsets</label>
            <div class="col-md-10">
                <input type="text" formControlName="skillsets" class="control-label col-md-2">
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Edit" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

