<h1>Delete</h1>

<form [formGroup]="FormData" (ngSubmit)="onClickSubmit()">
    <div class="form-horizontal">
        <h4>ManagerComments</h4>

        <div class="form-group">
            <label class="control-label col-md-2">Comments</label>
            <div class="col-md-10">
                <label class="control-label col-md-2">{{mgr.comments}}</label>   
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Task ID</label>
            <div class="col-md-10">

                <label class="control-label col-md-2">{{mgr.taskid}}</label>
            </div>
        </div>

        
        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Delete" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

