
<br>
<br>
<br>

<h1>Employee</h1>
<table class="table">
<p><a href="/employee/create">Create</a></p>
<tr>
  <td>eid</td>
  <td>name</td>
  <td>designation</td>
  <td>mgrid</td>
  <td>contactno</td>
  <td>emailid</td>
  <td>skillsets</td>
</tr>
<tr *ngFor="let emp of employee">
  <td>{{emp.eid}}</td>
  <td>{{emp.name}}</td>
  <td>{{emp.designation}}</td>
  <td>{{emp.mgrid}}</td>
  <td>{{emp.contactno}}</td>
  <td>{{emp.emailid}}</td>
  <td>{{emp.skillsets}}</td>
  <td><a href='/employee/edit/{{emp.eid}}'>Edit/</a>
    <a href='/employee/delete/{{emp.eid}}'>Delete</a>
  </td>
</tr>
</table>
