<h1>Create</h1>

<form [formGroup]="FormData" (ngSubmit)="onClickSubmit(FormData.value)">
    <div class="form-horizontal">
        <h4>ManagerComments</h4>

        <div class="form-group">
            <label class="control-label col-md-2">Comments</label>
            <div class="col-md-10">
                <input type="text" formControlName="comments" class="control-label col-md-2">
                <div *ngIf="FormData.controls.comments.errors && (FormData.controls.comments.dirty || FormData.controls.comments.touched)" class="alert-danger">
                    
                    <div *ngIf="FormData.controls.assigned_to.errors.required">
                        Comments is required
                    </div>
                </div>
                
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Task ID</label>
            <div class="col-md-10">

                <input type="text" formControlName="taskid" class="control-label col-md-2">
            </div>
        </div>

      
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

