<h1>Edit</h1>

<form [formGroup]="FormData" (ngSubmit)="onClickSubmit(FormData.value)">
    <div class="form-horizontal">
        <h4>Project</h4>

        <div class="form-group">
            <label class="control-label col-md-2">Project Name</label>
            <div class="col-md-10">
                <input type="text" formControlName="proname" class="control-label col-md-2">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">StartDate</label>
            <div class="col-md-10">

                <input type="text" formControlName="startdate" class="control-label col-md-2">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">EndDate</label>
            <div class="col-md-10">
                <input type="text" formControlName="enddate" class="control-label col-md-2">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Client Name</label>
            <div class="col-md-10">
                <input type="text" formControlName="clientname" class="control-label col-md-2">
            </div>
        </div>

       

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Edit" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

