<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Application name</a>
      </div>
      <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <li><a href="/home">Home</a></li>
              <li><a href="/Home/About">About</a></li>
              <li><a href="/Home/Contact">Contact</a></li>
              <li><a href="/employee">Employees</a></li>
              <li><a href="/project">Projects</a></li>
              <li><a href="/projecttask">Project Tasks</a></li>
              <li><a href="/userstories">Userstories</a></li>

          </ul>
      </div>
  </div>
</div>
